# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# build output
.next/
dist/
out/
build/
coverage/
.contentlayer/

# prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal

# misc
.DS_Store
.vscode/
.idea/
